
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

.public-site-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}